In [1]:
from pydataset import data
mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [2]:
extract = mpg.groupby(mpg.manufacturer)[['hwy']].mean().sort_values(by='hwy', ascending = False)
extract.idxmax()
extract == extract.idxmax()

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

                hwy
manufacturer
honda         False
volkswagen    False
hyundai       False
audi          False
pontiac       False
subaru        False
toyota        False
nissan        False
chevrolet     False
ford          False
mercury       False
dodge         False
jeep          False
lincoln       False
land rover    False